@import url('./variable.css');
@import url('./custom_class.css');
@import url('./component.css');


/*______________________________
  ||     Header Start Here     ||
_______________________________*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: var(--white);
    height: 64px;
    box-shadow: var(--shadow-1);
    padding: 8px 16px;
}

header .logo {
    width: 380px;
}



.header-right .profile {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid orange;
    padding: 2px;
    cursor: pointer;
}

.header-right .profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}







.sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    width: 300px;
    height: calc(100dvh - 70px);
    background-color: var(--white);
    z-index: 10;
    border-right: 8px solid #b1fcfcb7;
    border-left: 8px solid #b1fcfcb7;
    border-top: 8px solid #b1fcfcb7;
}


/* sidebar-close-btn */
.sidebar-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 44px;
    height: 44px;
    background-color: var(--white-off);
    border-radius: 50%;
    box-shadow: var(--shadow-1);
}

/* sidebar-menu */
.sidebar-menu {
    padding-top: 6px;
}

.sidebar-main-menu {
    padding: 10px 16px;
}

.sidebar-main-menu i {
    font-size: 11px;
}

.sidebar-main-menu:hover {
    background-color: var(--gray);
}

.sidebar-close-btn i {
    transition: .3s ease-in;
    font-size: var(--fs-sm);
}

.sidebar-close-btn:hover i {
    transform: rotate(180deg);
}


/* sidebar-bottom */
.sidebar-bottom .sidebar-main-menu i {
    font-size: 14px;
}




















.main-contents {
    margin-left: 300px;
    padding: 18px;
    margin-top: 64px;
    height: calc(100dvh - 64px);
    overflow-y: auto;
}